<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcpa.lclove.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.lcpa.lclove.model.Article">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="PUB_DATE" jdbcType="TIMESTAMP" property="pubDate" />
    <result column="LIKE_NUM" jdbcType="INTEGER" property="likeNum" />
    <result column="SCAN_NUM" jdbcType="INTEGER" property="scanNum" />
    <result column="ARTICLE_TYPE" jdbcType="INTEGER" property="articleType" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="TOPIC" jdbcType="VARCHAR" property="topic" />
    <result column="EDITOR" jdbcType="VARCHAR" property="editor" />
    <result column="STATE" jdbcType="INTEGER" property="state" />
    <result column="THUMBNAIL" jdbcType="VARCHAR" property="thumbnail" />
    <result column="IS_LOOK_BACK" jdbcType="VARCHAR" property="isLookBack" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, TITLE, THUMBNAIL, PUB_DATE, LIKE_NUM, SCAN_NUM, ARTICLE_TYPE, DESCRIPTION, TOPIC, EDITOR,
    STATE,IS_LOOK_BACK
  </sql>
  <sql id="Paging">
    <if test="paging != null and paging.StartIndex != null and paging.pageSize">
      LIMIT #{paging.startIndex},#{ paging.pageSize}
    </if>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from article
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectArticleByType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from article
    where ARTICLE_TYPE = #{0}
    order by PUB_DATE desc
    LIMIT #{1},#{2}
  </select>
  <select id="selectArticlesByKeyWords" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from article
    where TITLE like #{0}
    order by PUB_DATE desc
    LIMIT #{1},#{2}
  </select>
  <select id="selectAllArticles" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from article WHERE 1=1
    <if test="queryPara != null and queryPara.articleType != null">
       AND ARTICLE_TYPE = #{queryPara.articleType}
    </if>
    <if test="queryPara != null and queryPara.keywords != null">
      AND TITLE LIKE CONCAT(CONCAT("%",#{queryPara.keywords}),"%")
    </if>
    order by PUB_DATE desc
    <include refid="Paging"/>
  </select>
  <select id="selectAllLookBackArticles" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from article WHERE IS_LOOK_BACK=1
    order by PUB_DATE desc
    <include refid="Paging"/>
  </select>


  <select id="selectHomeArticle" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from article
    order by PUB_DATE desc
    <include refid="Paging"/>
  </select>
  <select id="selectTopArticlesByType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from article WHERE 1=1
    <if test="queryPara != null and queryPara.articleType != null">
      AND ARTICLE_TYPE = #{queryPara.articleType}
    </if>
    order by SCAN_NUM desc
    <include refid="Paging"/>
  </select>
  <select id="selectLastByPubDate" resultMap="BaseResultMap" parameterType="com.lcpa.lclove.model.Article">
    select
    <include refid="Base_Column_List" />
    from article WHERE PUB_DATE &gt;= #{pubDate,jdbcType=TIMESTAMP}
    <if test="articleType != null">
      AND ARTICLE_TYPE = #{articleType,jdbcType=INTEGER}
    </if>
    ORDER BY PUB_DATE DESC
  </select>
  <select id="selectLastByScanNum" resultMap="BaseResultMap" parameterType="com.lcpa.lclove.model.Article">
    select
    <include refid="Base_Column_List" />
    from article WHERE SCAN_NUM &gt;= #{scanNum,jdbcType=INTEGER}
    <if test="articleType != null">
      AND ARTICLE_TYPE = #{articleType,jdbcType=INTEGER}
    </if>
    ORDER BY SCAN_NUM DESC
  </select>
  <select id="selectNextByPubDate" resultMap="BaseResultMap" parameterType="com.lcpa.lclove.model.Article">
    select
    <include refid="Base_Column_List" />
    from article WHERE PUB_DATE &lt;= #{pubDate,jdbcType=TIMESTAMP}
    <if test="articleType != null">
      AND ARTICLE_TYPE = #{articleType,jdbcType=INTEGER}
    </if>
    ORDER BY PUB_DATE DESC
  </select>
  <select id="selectNextByScanNum" resultMap="BaseResultMap" parameterType="com.lcpa.lclove.model.Article">
    select
    <include refid="Base_Column_List" />
    from article WHERE SCAN_NUM &lt;= #{scanNum,jdbcType=TIMESTAMP}
    <if test="articleType != null">
      AND ARTICLE_TYPE = #{articleType,jdbcType=INTEGER}
    </if>
    ORDER BY SCAN_NUM DESC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lcpa.lclove.model.Article" useGeneratedKeys="true" keyProperty="id">
    insert into article (ID, TITLE, THUMBNAIL, PUB_DATE,
      LIKE_NUM, SCAN_NUM, ARTICLE_TYPE, 
      DESCRIPTION, TOPIC, EDITOR, 
      STATE)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{thumbnail,jdbcType=VARCHAR},#{pubDate,jdbcType=TIMESTAMP},
      #{likeNum,jdbcType=INTEGER}, #{scanNum,jdbcType=INTEGER}, #{articleType,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{topic,jdbcType=VARCHAR}, #{editor,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lcpa.lclove.model.Article">
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="pubDate != null">
        PUB_DATE,
      </if>
      <if test="likeNum != null">
        LIKE_NUM,
      </if>
      <if test="scanNum != null">
        SCAN_NUM,
      </if>
      <if test="articleType != null">
        ARTICLE_TYPE,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="topic != null">
        TOPIC,
      </if>
      <if test="editor != null">
        EDITOR,
      </if>
      <if test="state != null">
        STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="pubDate != null">
        #{pubDate,jdbcType=TIMESTAMP},
      </if>
      <if test="likeNum != null">
        #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="scanNum != null">
        #{scanNum,jdbcType=INTEGER},
      </if>
      <if test="articleType != null">
        #{articleType,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="topic != null">
        #{topic,jdbcType=VARCHAR},
      </if>
      <if test="editor != null">
        #{editor,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lcpa.lclove.model.Article">
    update article
    <set>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null">
        THUMBNAIL = #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="pubDate != null">
        PUB_DATE = #{pubDate,jdbcType=TIMESTAMP},
      </if>
      <if test="likeNum != null">
        LIKE_NUM = #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="scanNum != null">
        SCAN_NUM = #{scanNum,jdbcType=INTEGER},
      </if>
      <if test="articleType != null">
        ARTICLE_TYPE = #{articleType,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="topic != null">
        TOPIC = #{topic,jdbcType=VARCHAR},
      </if>
      <if test="editor != null">
        EDITOR = #{editor,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lcpa.lclove.model.Article">
    update article
    set TITLE = #{title,jdbcType=VARCHAR},
      PUB_DATE = #{pubDate,jdbcType=TIMESTAMP},
      LIKE_NUM = #{likeNum,jdbcType=INTEGER},
      SCAN_NUM = #{scanNum,jdbcType=INTEGER},
      ARTICLE_TYPE = #{articleType,jdbcType=INTEGER},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      TOPIC = #{topic,jdbcType=VARCHAR},
      EDITOR = #{editor,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lcpa.lclove.model.Article">
    update article
    set TITLE = #{title,jdbcType=VARCHAR},
      THUMBNAIL = #{thumbnail,jdbcType=VARCHAR},
      PUB_DATE = #{pubDate,jdbcType=TIMESTAMP},
      LIKE_NUM = #{likeNum,jdbcType=INTEGER},
      SCAN_NUM = #{scanNum,jdbcType=INTEGER},
      ARTICLE_TYPE = #{articleType,jdbcType=INTEGER},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      TOPIC = #{topic,jdbcType=VARCHAR},
      EDITOR = #{editor,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateScanNum">
    update article
    set SCAN_NUM = SCAN_NUM + 1
    where ID = #{0}
  </update>
  <update id="increaseLoveNum">
    update article
    set LIKE_NUM = LIKE_NUM + 1
    where ID = #{0}
  </update>
  <update id="updateLookBack">
    update article
    set IS_LOOK_BACK = #{1}
    where ID = #{0}
  </update>



</mapper>