<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcpa.lclove.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.lcpa.lclove.model.Article">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="PUB_DATE" jdbcType="TIMESTAMP" property="pubDate" />
    <result column="LIKE_NUM" jdbcType="INTEGER" property="likeNum" />
    <result column="SCAN_NUM" jdbcType="INTEGER" property="scanNum" />
    <result column="ARTICLE_TYPE" jdbcType="INTEGER" property="articleType" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.lcpa.lclove.model.Article">
    <result column="CONTENT" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, TITLE, PUB_DATE, LIKE_NUM, SCAN_NUM, ARTICLE_TYPE
  </sql>
  <sql id="Blob_Column_List">
    CONTENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lcpa.lclove.model.Article">
    insert into article (ID, TITLE, PUB_DATE, 
      LIKE_NUM, SCAN_NUM, ARTICLE_TYPE, 
      CONTENT)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{pubDate,jdbcType=TIMESTAMP}, 
      #{likeNum,jdbcType=INTEGER}, #{scanNum,jdbcType=INTEGER}, #{articleType,jdbcType=INTEGER}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lcpa.lclove.model.Article">
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="pubDate != null">
        PUB_DATE,
      </if>
      <if test="likeNum != null">
        LIKE_NUM,
      </if>
      <if test="scanNum != null">
        SCAN_NUM,
      </if>
      <if test="articleType != null">
        ARTICLE_TYPE,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="pubDate != null">
        #{pubDate,jdbcType=TIMESTAMP},
      </if>
      <if test="likeNum != null">
        #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="scanNum != null">
        #{scanNum,jdbcType=INTEGER},
      </if>
      <if test="articleType != null">
        #{articleType,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lcpa.lclove.model.Article">
    update article
    <set>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="pubDate != null">
        PUB_DATE = #{pubDate,jdbcType=TIMESTAMP},
      </if>
      <if test="likeNum != null">
        LIKE_NUM = #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="scanNum != null">
        SCAN_NUM = #{scanNum,jdbcType=INTEGER},
      </if>
      <if test="articleType != null">
        ARTICLE_TYPE = #{articleType,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lcpa.lclove.model.Article">
    update article
    set TITLE = #{title,jdbcType=VARCHAR},
      PUB_DATE = #{pubDate,jdbcType=TIMESTAMP},
      LIKE_NUM = #{likeNum,jdbcType=INTEGER},
      SCAN_NUM = #{scanNum,jdbcType=INTEGER},
      ARTICLE_TYPE = #{articleType,jdbcType=INTEGER},
      CONTENT = #{content,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lcpa.lclove.model.Article">
    update article
    set TITLE = #{title,jdbcType=VARCHAR},
      PUB_DATE = #{pubDate,jdbcType=TIMESTAMP},
      LIKE_NUM = #{likeNum,jdbcType=INTEGER},
      SCAN_NUM = #{scanNum,jdbcType=INTEGER},
      ARTICLE_TYPE = #{articleType,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>