<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcpa.lclove.dao.ImageMapper">
  <resultMap id="BaseResultMap" type="com.lcpa.lclove.model.Image">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="POSITION" jdbcType="INTEGER" property="position" />
    <result column="IMG_SRC" jdbcType="VARCHAR" property="imgSrc" />
    <result column="SEQ" jdbcType="INTEGER" property="seq" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="TOPIC" jdbcType="VARCHAR" property="topic" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, POSITION, IMG_SRC, SEQ, URL, DESCRIPTION, TOPIC,FILE_NAME
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from image
  </select>
  <select id="selectByPosition" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from image
    where POSITION = #{position,jdbcType=INTEGER}
    order by SEQ asc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from image
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lcpa.lclove.model.Image" useGeneratedKeys="true" keyProperty="id">
    insert into image (POSITION, IMG_SRC,
      SEQ, URL, DESCRIPTION, 
      TOPIC, FILE_NAME)
    values (#{position,jdbcType=INTEGER}, #{imgSrc,jdbcType=VARCHAR},
      #{seq,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{topic,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR})
  </insert>
  <insert id="updateImageSrc" parameterType="com.lcpa.lclove.model.Image">
    update image set IMG_SRC = #{imgSrc},URL = #{url}, FILE_NAME = #{fileName} WHERE ID = #{id}
  </insert>
  <insert id="insertImages" parameterType="java.util.List">
    insert into image (POSITION, IMG_SRC,
    SEQ, URL, DESCRIPTION,TOPIC) values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.position,jdbcType=INTEGER},
      #{item.imgSrc,jdbcType=VARCHAR},
      #{item.seq,jdbcType=INTEGER},
      #{item.url,jdbcType=VARCHAR},
      #{item.description,jdbcType=VARCHAR},
      #{item.topic,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.lcpa.lclove.model.Image">
    insert into image
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="position != null">
        POSITION,
      </if>
      <if test="imgSrc != null">
        IMG_SRC,
      </if>
      <if test="seq != null">
        SEQ,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="topic != null">
        TOPIC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        #{position,jdbcType=INTEGER},
      </if>
      <if test="imgSrc != null">
        #{imgSrc,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="topic != null">
        #{topic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lcpa.lclove.model.Image">
    update image
    <set>
      <if test="position != null">
        POSITION = #{position,jdbcType=INTEGER},
      </if>
      <if test="imgSrc != null">
        IMG_SRC = #{imgSrc,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        SEQ = #{seq,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="topic != null">
        TOPIC = #{topic,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lcpa.lclove.model.Image">
    update image
    set POSITION = #{position,jdbcType=INTEGER},
      IMG_SRC = #{imgSrc,jdbcType=VARCHAR},
      SEQ = #{seq,jdbcType=INTEGER},
      URL = #{url,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      TOPIC = #{topic,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>