<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="${staticPath}css/pintuer.css">
	<link rel="stylesheet" href="${staticPath}css/admin/admin.css$VmUtils.jsVersion">
    <title>出错了！</title>  
</head>
<body>
<div class="container">
	<div class="panel margin-big-top">
	<div class="text-center">
			<br>
			<br>
			<img src="/images/error404.jpg" class="radius" width="500" />
			<h2  class="padding-top">
				#if($VmUtils.isNotEmpObj($errmsg))
					<stong>$errmsg</stong>
				#else
					<stong>404错误！咦！该页面是被耗子们啃了？</stong>
				#end
			</h2>
			<div class="padding-big">
				<a href="${basePath}admin/index.xhtml" class="button bg-yellow">返回首页</a>
				<a href="" class="button">反馈</a>
			</div>
	</div>
	</div>
</div>
</body>
</html>