<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
	<link rel="stylesheet" href="${staticPath}css/pintuer.css">
	<link rel="stylesheet" href="${staticPath}css/admin/admin.css">
	<script src="${staticPath}js/jquery.js"></script>
	<script src="${staticPath}js/pintuer.js"></script>
	<script src="${staticPath}js/plugins/layer/laydate/laydate.js"></script>
	<script src="${staticPath}js/plugins/ueditor/ueditor.config.js"></script>
	<script src="${staticPath}js/plugins/ueditor/ueditor.all.min.js"></script>
	<script src="${staticPath}js/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加内容</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="${basePath}admin/article/saveArticle.xhtml">  
      <input type="hidden" id="id" name="id" value="$!article.id"/>
      <!-- <input type="hidden" id="content" name="content" value="$!{$content}"/> -->
      <div class="form-group">
        <div class="label">
          <label>标题：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" id="title" name="title" value="$!article.title" data-validate="required:请输入标题,length#<=30:长度最大30" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>图片：</label>
        </div>
        <div class="field">
          <input type="text" id="thumbnail" name="thumbnail" class="input tips"
                 style="width:25%; float:left;"  value="$!article.thumbnail"  data-toggle="hover" data-place="right" data-image="$!article.thumbnail" />

##          <input type="button" class="button bg-blue margin-left" id="uploadBtn" value="+ 浏览上传"  style="float:left;">
##          <div class="tipss">图片尺寸：100*80</div>
        </div>
      </div>     
        <div class="form-group">
          <div class="label">
            <label>分类标题：</label>
          </div>
          <div class="field">
            <select id="articleType" name="articleType" class="input w50" onclick="articleTypeClick()" onchange="articleTypeChange()">
              <option value="">请选择分类</option>
			  #foreach($type in $typeList)
              <option value="$type.id" #if($VmUtils.eq($type.id, $article.articleType))selected#end>$type.name</option>
              #end
            </select>
            <div class="tips"></div>
          </div>
        </div>
        <div class="form-group">
            <div class="label">
                <label>主题：</label>
            </div>
            <div class="field">
                <input type="text" class="input w50" id="topic" name="topic" value="$!article.topic" data-validate="required:请输入主题,length#<=12:长度最大12"/>
                <div class="tips"></div>
            </div>
        </div>
    ##        <div class="form-group">
##          <div class="label">
##            <label>其他属性：</label>
##          </div>
##          <div class="field" style="padding-top:8px;">
##	            首页 <input id="tohome" name="tohome" type="checkbox" #if($VmUtils.eq($article.tohome,'Y')) checked="checked" #end/>
##	            推荐 <input id="torecom" name="torecom" type="checkbox" #if($VmUtils.eq($article.torecom,'Y')) checked="checked" #end/>
##          </div>
##        </div>
      <div class="form-group">
        <div class="label">
          <label>简要说明：</label>
        </div>
        <div class="field">
          <textarea class="input" id="description" name="description" style=" height:90px;">$!{article.description}</textarea>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group" id="articleContent">
        <div class="label">
          <label>内容：</label>
        </div>
        <div class="field">
          <script id="articleContainer" name="content" type="text/plain" style="width:100%;height:200px;"></script>
          <script type="text/javascript">
				var editor = UE.getEditor('articleContainer');
			</script>
        </div>
      </div>
        <div class="form-group" id="videoContent">
            <div class="label">
                <label>视频分享地址：</label>
            </div>
            <div class="field" >
                <textarea class="input" id="videoContainer" name="content" style=" height:90px;">$!{article.content}</textarea>
            </div>
        </div>
     
      <div class="clear"></div>
##      <div class="form-group">
##        <div class="label">
##          <label>排序：</label>
##        </div>
##        <div class="field">
##          <input type="text" class="input w50" id="sortnum" name="sortnum" value="#if($VmUtils.isNull($article.sortnum))0#else $article.sortnum #end"  data-validate="number:排序必须为数字" />
##          <div class="tips"></div>
##        </div>
##      </div>
      <div class="form-group">
        <div class="label">
          <label>发布时间：</label>
        </div>
        <div class="field"> 
          <input type="text" class="laydate-icon input w50" id="pubDate" name="pubDate" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="$!DateUtil.formatTimestamp($!article.pubDate)"  data-validate="required:发布时间不能为空" style="padding:10px!important; height:auto!important;border:1px solid #ddd!important;" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>作者：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" id="editor" name="editor" value="$!{article.editor}"  />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>点赞次数：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" id="likeNum" name="likeNum" value="$!{article.likeNum}" data-validate="number:只能为数字"  />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>点击次数：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" id="scanNum" name="scanNum" value="$!{article.scanNum}" data-validate="number:只能为数字"  />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
            <a class="button bg-main icon-backward" href="${basePath}admin/article/articleList.xhtml"> 取消</a>
        </div>
      </div>
    </form>
  </div>
</div>

	<script type="text/javascript">
        var beforeType;
        function articleTypeClick(){
            beforeType = $("#articleType").val();
        }
        function articleTypeChange(){
            var afterType = $("#articleType").val();
            if (afterType == "4"){
                $("#articleContent").hide();
                $("#videoContent").show();
                $("#articleContainer").removeAttr("name");
                $("#videoContainer").attr("name", "content");
            }else if (beforeType == "4"){
                $("#videoContent").hide();
                $("#articleContent").show();
                $("#videoContainer").removeAttr("name");
                $("#articleContainer").attr("name", "content");
            }
        }
		$(document).ready(function() {
            var initType = $("#articleType").val();
            if (initType == "4"){
                $("#articleContent").hide();
                $("#videoContent").show();
            }else{
                $("#videoContent").hide();
                $("#articleContent").show();
                editor.ready(function(){
                            editor.setContent('$!{article.content}');
                        });
            }
		});
	</script>
</body>
</html>