<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="${staticPath}css/pintuer.css">
    <link rel="stylesheet" href="${staticPath}css/admin/admin.css">
    <script src="${staticPath}js/jquery.js"></script>
    <script src="${staticPath}js/pintuer.js"></script>
    <script src="${staticPath}js/plugins/layer/laydate/laydate.js"></script>
    <script src="${staticPath}js/plugins/ueditor/ueditor.config.js"></script>
    <script src="${staticPath}js/plugins/ueditor/ueditor.all.min.js"></script>
    <script src="${staticPath}js/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script src="${staticPath}js/lclove-util.js"></script>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加内容</strong></div>
    <div class="body-content">
        <form method="post" class="form-x" action="${basePath}admin/research/saveResearch.xhtml">
            <input type="hidden" id="id" name="id" value="$!survey.id"/>
            <input type="hidden" id="state" name="state" value="$!survey.state"/>
            <div class="form-group">
                <div class="label">
                    <label>标题：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" id="title" name="title" value="$!survey.title" data-validate="required:请输入标题" />
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>缩图：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50 tips" id="thumbnail" name="thumbnail" value="$!survey.thumbnail" data-validate="required:请输入图片URL"
                           data-toggle="hover" data-place="right" data-image="$!survey.thumbnail"/>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>问卷调查描述图片：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50 tips" id="headerImg" name="headerImg" value="$!survey.headerImg" data-validate="required:请输入图片URL"
                           data-toggle="hover" data-place="right" data-image="$!survey.headerImg"/>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>发布日期：</label>
                </div>
                <div class="field">
                    <input type="text" class="laydate-icon input w50" id="pubDate" name="pubDate" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="$!DateUtil.formatTimestamp($!survey.pubDate)"  data-validate="required:发布时间不能为空" style="padding:10px!important; height:auto!important;border:1px solid #ddd!important;" />
                    <div class="tips"></div>
                </div>
            </div>
##            <div class="form-group">
##                <div class="label">
##                    <label>开始日期：</label>
##                </div>
##                <div class="field">
##                    <input type="text" class="laydate-icon input w50" id="startTime" name="startTime" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="$!DateUtil.formatTimestamp($!survey.startTime)"  data-validate="required:开始时间不能为空" style="padding:10px!important; height:auto!important;border:1px solid #ddd!important;" />
##                    <div class="tips"></div>
##                </div>
##            </div>
##            <div class="form-group">
##                <div class="label">
##                    <label>结束日期：</label>
##                </div>
##                <div class="field">
##                    <input type="text" class="laydate-icon input w50" id="endTime" name="endTime" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="$!DateUtil.formatTimestamp($!survey.endTime)"  data-validate="required:结束时间不能为空" style="padding:10px!important; height:auto!important;border:1px solid #ddd!important;" />
##                    <div class="tips"></div>
##                </div>
##            </div>
            <div class="form-group">
                <div class="label">
                    <label>简要说明：</label>
                </div>
                <div class="field">
                    <textarea class="input" id="description" name="description" style=" height:90px;">$!{survey.description}</textarea>
                <div class="tips"></div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
                    <a class="button bg-main icon-backward" href="${basePath}admin/research/researchList.xhtml"> 取消</a>
                </div>
            </div>
        </form>
    </div>
    <div id="questionTemp" hidden>
        <div class="form-group" name="question">
            <div class="label">
                <label name="questionSeq"></label>
            </div>
            <div class="field">
                <input type="text" class="input w50" data-validate="required:请输入问题" />
                <select  class="input w50" >
                    #foreach($questionType in $questionTypes)
                        <option value="$questionType.id" #if($VmUtils.eq($questionType.id, $survey.questionType))selected#end>$questionType.type</option>
                    #end
                </select>
                <button class="button bg-main icon-plus" onclick="addQeustionOption(event)"/>
                <button class="button bg-main icon-times" onclick="removeQuestion()"/>
                <div class="tips"></div>
            </div>
        </div>
    </div>
    <div id="inputOptionTemp" hidden>
        <div class="form-group" name="question">
            <div class="label">
                <label></label>
            </div>
            <div class="field">
                <input type="text" class="input w50" data-validate="required:请输入答案" />
                <button class="button bg-main icon-times" onclick="removeOption()"/>
            </div>

        </div>
    </div>
    <div id="radioBtnOptionTemp" hidden>
        <div class="form-group" name="question">
            <div class="label">
                <input type="radio" />
            </div>
            <div class="field">
                <input type="text" class="input w50" data-validate="required:请输入xx" />
                <button class="button bg-main icon-times" onclick="removeOption()"/>
            </div>

        </div>
    </div>
    <div id="checkBoxBtnOptionTemp" hidden>
        <div class="form-group" name="question">
            <div class="label">
                <input type="checkbox" />
            </div>
            <div class="field">
                <input type="text" class="input w50" data-validate="required:请输入xx" />
                <button class="button bg-main icon-times" onclick="removeOption()"/>
            </div>

        </div>
    </div>

</div>

<script type="text/javascript">
   function addQeustion(){
       var questionTemp = $("#questionTemp").clone(true).removeAttr("hidden").html();
       $("#questions").append(questionTemp)
   }
    function addQeustionOption(event){
        var target = event.target;
        var selectVal = $(target).prev().val();
        var parentEle = $(target).parents(".form-group");
        var optionEle;
        if (selectVal == 1){
            optionEle = $("#inputOptionTemp").clone(true).removeAttr("hidden").html();
        }else if (selectVal == 2){
            optionEle = $("#radioBtnOptionTemp").clone(true).removeAttr("hidden").html();
        }else if (selectVal == 3){
            optionEle = $("#checkBoxBtnOptionTemp").clone(true).removeAttr("hidden").html();
        }
        $(parentEle).append(optionEle)
    }
    function removeQuestion(){
        var target = event.target;
        var parentEle = $(target).closest(".form-group");
        $(parentEle).remove();
    }
   function removeOption(){
       var target = event.target;
       var parentEle = $(target).closest(".form-group");
       $(parentEle).remove();
   }
</script>

</body>
</html>