<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="${staticPath}css/pintuer.css">
    <link rel="stylesheet" href="${staticPath}css/admin/admin.css">
    <script src="${staticPath}js/jquery.js"></script>
    <script src="${staticPath}js/pintuer.js"></script>
    <script src="${staticPath}js/lclove-util.js"></script>
    <script src="${staticPath}js/jqPaginator.min.js"></script>
</head>
<body>
<form method="post" action="" id="listform">
    <div class="panel admin-panel">

        <div class="panel-head"><strong class="icon-reorder"> 问题列表</strong></div>
        <div class="padding border-bottom">
            <ul class="search" style="padding-left:10px;">
                <li><a class="button bg-main icon-backward" href="${basePath}admin/research/researchList.xhtml"> 返回问卷列表</a></li>
                <li> <a class="button border-main icon-plus-square-o" href="${basePath}admin/research/editQuestion.xhtml"> 添加问题</a> </li>
            </ul>
        </div>
        <table class="table table-hover text-center">
            <tr>
                <th>顺序</th>
                <th>题目</th>
                <th>题型</th>
                <th>操作</th>
            </tr>
            <volist name="list" id="vo">
                #foreach($question in $questions)
                    <tr>
                        <td>$!question.seq</td>
                        <td>$!question.title</td>
                        <td>$typeMap.get($question.inputType).name</td>
                        <td>
                            <div class="button-group">
                                <a class="button border-main" href="${basePath}admin/research/editQuestion.xhtml?id=$question.id"><span class="icon-edit"></span> 修改</a>
                                <a class="button border-red" href="javascript:void(0)" onclick="return deleteData($question.id)"><span class="icon-trash-o"></span> 删除</a>
                            </div>
                        </td>
                    </tr>
                #end
        </table>
    </div>
</form>

<script type="text/javascript">

    //单个删除
    function deleteData(entityId){
        if(confirm("您确定要删除吗?")){
            var url = '${basePath}admin/recommend/delRecommend.xhtml';
            var values = {"id":entityId};
            $.getData(url, values, true, 'get', 'json', false, ajaxCallBack);
        }
    }
    function ajaxCallBack(r){
        if(r.success){
            refreshPage();
        }else{
            alert(r.msg);
        }
    };

</script>
</body>
</html>