<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="${staticPath}css/pintuer.css">
    <link rel="stylesheet" href="${staticPath}css/admin/admin.css">
    <script src="${staticPath}js/jquery.js"></script>
    <script src="${staticPath}js/pintuer.js"></script>
    <script src="${staticPath}js/lclove-util.js"></script>
    <script src="${staticPath}js/jqPaginator.min.js"></script>
</head>
<body>
<form method="post" action="" id="listform">
    <div class="panel admin-panel">
        <div class="panel-head"><strong class="icon-reorder"> 调查问卷列表</strong></div>
        <div class="padding border-bottom">
            <ul class="search" style="padding-left:10px;">
                <li> <a class="button border-main icon-plus-square-o" href="${basePath}admin/research/editResearch.xhtml"> 添加问卷</a> </li>
            </ul>
        </div>
        <table class="table table-hover text-center">
            <tr>
                <th>标题</th>
                <th>简述</th>
                <th>问卷时间</th>
                <th>状态</th>
                <th>详情</th>
                <th>操作</th>
            </tr>
            <volist name="list" id="vo">
                #foreach($survey in $surveys)
                    <tr>
                        <td>$!survey.title</td>
                        <td>$!survey.description</td>
                        <td>$!survey.endTime</td>
                        <td>$!survey.state</td>
                        <td><a class="button border-sub" href="${basePath}admin/research/editResearch.xhtml?id=$survey.id"><span class="icon-qrcode"></span> 题库维护</a></td>
                        <td>
                            <div class="button-group">
                                <a class="button border-main" href="${basePath}admin/research/editResearch.xhtml?id=$survey.id"><span class="icon-edit"></span> 修改</a>
                                <a class="button border-red" href="javascript:void(0)" onclick="return deleteData($survey.id)"><span class="icon-trash-o"></span> 删除</a>
                            </div>
                        </td>
                    </tr>
                #end
        </table>
    </div>
</form>
<nav>
    <ul id="pagination"class="pagination">

    </ul>
</nav>
<script type="text/javascript">
    $("#pagination").jqPaginator({
        totalPages: $!{paging.total},
        visiblePages: 5,
        currentPage: $!{paging.pageNo},
        onPageChange: function (num, type) {
            if (type != "init"){
                getResult(num);
            }
        }
    });

    function getResult(num){
        position = $("#position").val();
        pageNo = num;
        refreshPage('${basePath}admin/recommend/recommendList.xhtml?position='+position+'&pageNo='+pageNo);
    }

    //搜索
    function changesearch(position){
        refreshPage('${basePath}admin/recommend/recommendList.xhtml?position='+position);
    ##        var url = '${basePath}admin/recommend/recommendList.xhtml';
    ##        var values = {"position":position};
    ##        $.getData(url, values, true, 'get', 'json', false, ajaxCallBack);

    }

    //单个删除
    function deleteData(entityId){
        if(confirm("您确定要删除吗?")){
            var url = '${basePath}admin/recommend/delRecommend.xhtml';
            var values = {"id":entityId};
            $.getData(url, values, true, 'get', 'json', false, ajaxCallBack);
        }
    }
    function ajaxCallBack(r){
        if(r.success){
            refreshPage();
        }else{
            alert(r.msg);
        }
    };

    //全选
    $("#checkall").click(function(){
        $("input[name='id[]']").each(function(){
            if (this.checked) {
                this.checked = false;
            }
            else {
                this.checked = true;
            }
        });
    })



</script>
</body>
</html>