body{
	font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	color:#776664;
	font-size:12px;
	background:url(../images/body_bg.jpg) no-repeat;
	background-size: 100% 100%;
}

input::-webkit-input-placeholder { 
	font-size:14px;
	font-weight:bold;
	color:#cccccc;
} 


li{
	list-style: none;
}

.smallest_blank{
	float:left;
	width:100%;
	height:10px;	
}

.small_blank{
	float:left;
	width:100%;
	height:20px;
}

.mini_blank{
	float:left;
	width:100%;
	height:15px;
}

.blank{
	float:left;
	width:100%;
	height:30px;
}

.separate{
	float:left;
	width:100%;
	height:1px;
	background:url(../images/separate.png);
	background-repeat:repeat-x;
}

.article_separate{
	width:100%;
	height:1px;
	background:url(../images/separate.png);
	background-repeat:repeat-x;
}

.separate_small{
	float:left;
	width:100%;
	height:1px;
	background:url(../images/separate_small.png);
	background-repeat:repeat-x;
}

.clear{
	clear:both;
}

.pc_style{
	margin:0 auto;
	width:968px;
	position:relative;
}

.home_main_content{
	position:relative;
	height:1191px;
}
.wrap_content{
	/* width:80%;
	min-width: 1250px; */
	width: 1050px;
	position: relative;
	margin:0 auto;
	/* padding:40px 0px; */
}

.wrap_content .content_left{
	width: 600px;
	margin: 0px 40px;
	float: left;
}

/*通用侧边栏开始*/

.wrap_content .content_right{
    /* width:28%; */
    width: 340px;
    float: left;
    overflow:hidden;
/*     position: relative; */
    /* border-top:2px solid #be9c72; */
}

.content_right_div{
	/* position:absoulte; */
	margin: 0 auto;
	width:300px;
}
/*通用侧边栏结束*/

/* .content_left{
	width:600px;
	float:left;
}

.content_right{
	width:300px;
	float:right;
} */

.topic_banner{
	position:relative;
	float:left;
	width:590px;
	height:209px;
	overflow:hidden;
}

.display_banner{
	position:absolute;
	width:500%;
	height:100%;
	z-index:-1;
}

.item img{
	width: 590px;
	height: 209px;
}

.banner_item{
	float:left;
	width:590px;
	height:209px;
	background:url(../images/banner.png);
}

.pref_banner, .next_banner{
	position:absolute;
	width:18px;
	height:32px;
	z-index:100;
	cursor:pointer;
}

.pref_banner{
	margin-top:90px;
	margin-left:22px;
}

.next_banner{
	margin-top:90px;
	margin-left:550px;
}

.banner_points{
	position:absolute;
	z-index:100;
	margin-left:480px;
	margin-top:182px;
}

.banner_point, .banner_point_on{
	float:left;
	width:12px;
	height:12px;
	cursor:pointer;
	margin-left:7px;	
}

.banner_point{
	background:url(../images/banner_point.png);
}

.banner_point_on{
	background:url(../images/banner_point_on.png);
}

.content_item{
	float:left;
	background:url(../images/content_item_bg.png);
	width:594px;
	height:211px;
	margin-top:20px;
}

.content_item_pic{
	float:left;
	width:159px;
	height:159px;
	margin-top:24px;
	margin-left:20px;
}

.content_item_text{
	float:left;
	width:378px;
	margin-left:20px;
}

.content_item_text_head{
	float:left;
	margin-top:24px;
}

.content_item_text_head img{
	float:left;
}

.content_item_text_head div{
	float:left;
	height:20px;
	line-height:20px;
	margin-left:5px;
	font-size:20px;
	font-weight:bold;
}

.content_item_text_middle{
	float:left;
	margin-top:10px;
	font-size:16px;
	line-height:25px;
}

.content_item_text_foot{
	float:left;
	height:22px;
	margin-top:20px;
	line-height:22px;
	width:100%;
}

.content_item_text_foot .date{
	letter-spacing:1px;
	float:left
}

.content_item_text_foot .type{
	float:right;
	color:#FF0000;
	margin-right:15px;
}

.content_item_text_foot .love{
	float:right;
	margin-right:15px;
}

.content_item_text_foot .love img{
	float:left;
}

.content_item_text_foot .love div{
	float:left;
	margin-left:5px;
	letter-spacing:1px;
}

.content_item_text_foot .comment{
	float:right;
}

.content_item_text_foot .comment img{
	float:left;
}

.content_item_text_foot .comment div{
	float:left;
	margin-left:5px;
	letter-spacing:1px;
}

.page_row{
	float:left;
	margin-top:20px;
	margin-left:10px;
	font-size:18px;
	line-height:18px;
	width:574px;
}

.pref_page, .next_page{
	width:100px;
}

.pref_page, .pref_page img, .pref_page div{
	float:left;
}

.next_page, .next_page img, .next_page div{
	float:right;
}

.next_page img, .pref_page img{
	margin-top:5px;
}

.pref_page div, .next_page img{
	margin-left:20px;
}

.page_indexs {
	float:left;	
}

.pref_page div, .next_page div{
	font-weight:bold;
}

.page_indexs div{
	float:left;
	margin-left:15px;
}

.page_index{
	cursor:pointer;
}

.pageon{
	text-decoration:underline;
	font-weight:bold;
	cursor:default;
}

.search_area{
	float:left;
	width: 300px;
	margin: 0px auto;
	position: relative;
}

.search_bar{
	width: 100%;
    height: 32px;
    padding-left: 10px;
    border:0;
    outline: none;
    background:url(../images/search.png);
}
.searchButton{
	position: absolute;
    top: 0px;
    right: 0px;
    width: 36px;
    height: 30px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.recommend_show{
	float:left;
}

.recommend_item{
	float:left;
	height:116px;
	width:300px;
}

.recommend_item img{
	float:left;
}

.recommend_item div{
	color:#fff;
	position:absolute;
	margin-top:75px;
	margin-left:200px;
	text-align:center;
	font-size:16px;
	line-height:16px;
}

.hot_article{
	width:100%;
	float:left;
	background:#fff;
	border-radius:3px;
	box-shadow: 1.5px 1.5px 1.5px;
	-webkit-box-shadow:1.5px 1.5px 1.5px;
	-moz-box-shadow: 1.5px 1.5px 1.5px;
}

.hot_article_head{
	float:left;
	width:100%;
	height:30px;
	margin-top:15px;
}

.hot_article_head img{
	float:left;
	width:25px;
	height:30px;
	margin-left:15px;
}

.hot_article_head div{
	float:left;
	margin-left:15px;
	font-size:18px;
	line-height:30px;
	font-weight:bold;
}

.hot_article_item{
	float:left;
	width:100%;	
}

.hot_article_item a{
	color:#333;
	display:block;
}
.hot_article_item a:hover{
	color:red;
}

.hot_article_pic{
	float:left;
	width:84px;
	height:84px;
	overflow:hidden;
	margin-top:15px;
	margin-left:10px;
}

.hot_article_content{
	float:left;
	width:190px;
	margin-left:16px;
}

.hot_article_desc{
	float:left;
	width:170px;
	margin-top:30px;
	font-size:14px;
}

.hot_article_readed{
	float:left;
	width:100%;
	font-size:14px;
	color:#999999;
	line-height:22px;
}

.footer{
	float:left;
	background:#000;
	color:#FFFFE0;
	width:100%;
	height:40px;
	line-height:40px;
	margin-top:25px;
}

.footer div{
	width:100%;
	text-align:center;
	height:40px;
}

/* for the amulet.html */
.amulet_topic{
	float:left;
	width:100%;
}

.amulet_topic_head{
	float:left;
	width:100%;
}

.amulet_topic_head img{
	float:left;
	height:60px;
	width:67px;
}

.amulet_topic_head div{
	float:left;
	line-height:60px;
	margin-left:20px;
	font-size:18px;
	font-weight:bold;
}

.amulet_topic_desc_pic{
	float:left;
	margin-left:10px;
	margin-top:20px;
}

/* for the love.html */
.love_topic{
	float:left;
	width:100%;
}

.love_topic_head{
	float:left;
	width:100%;
}

.love_topic_head img{
	float:left;
	height:60px;
	width:67px;
}

.love_topic_head div{
	float:left;
	line-height:60px;
	margin-left:20px;
	font-size:18px;
	font-weight:bold;
}

.love_topic_desc_pic{
	float:left;
	margin-left:10px;
	margin-top:20px;
}

/* for the special.html */
.special_topic{
	float:left;
	width:100%;
}

.special_topic_head{
	float:left;
	width:100%;
}

.special_topic_head img{
	float:left;
	height:60px;
	width:67px;
}

.special_topic_head div{
	float:left;
	line-height:60px;
	margin-left:10px;
	font-size:18px;
	font-weight:bold;
}

.special_topic_desc_pic{
	float:left;
	margin-top:20px;
}

.review{
	width:574px;
	float:left;
	margin-top:40px;
	background:#fff;
	border-radius:3px;
	box-shadow: 1.5px 1.5px 1.5px;
	-webkit-box-shadow:1.5px 1.5px 1.5px;
	-moz-box-shadow: 1.5px 1.5px 1.5px;
	padding:10px;
}

.review_head{
	float:left;
	font-size:16px;
	width:574px;
	font-weight:bold;
}

.review_items{
	float:left;
	margin-top:5px;
}

.review_item{
	float:left;
	margin-left:5px;
}

/* for the article_content.html */
.article_content{
	width:574px;
/* 	float:left; */
	background:#fff;
	border-radius:3px;
	box-shadow: 1.5px 1.5px 1.5px;
	-webkit-box-shadow:1.5px 1.5px 1.5px;
	-moz-box-shadow: 1.5px 1.5px 1.5px;
	padding:10px;
}

.article_content_head{
	/* float:left; */
	width:100%;
	margin-bottom:10px;
	overflow:hidden;
}

.head_left{
	float:left;
	font-size:14px;
	color:#FF0000;
	text-decoration:underline;
}

.head_right{
	float:right;
	font-size:14px;	
}

.article_content_body{
	width:100%;
	/* float:left; */
	position:relative;
	overflow:hidden;
}

.row_1{
	width:100%;
	float:left;
	margin-top:10px;
}

.row_1_left{
	float:left;
	height:20px;
	line-height:20px;
}

.row_1_left img{
	float:left;
	width:22px;
	height:20px;
}

.row_1_left div{
	float:left;
	margin-left:10px;
	font-size:16px;
	font-weight:bold;
}

.row_1_right{
	float:right;
	color:#FF0000;
}

.row_2{
	float:left;
	margin-top:10px;
	letter-spacing:1px;
}

.row_3{
	float:left;
}

.row_3_pic1{
	float:left;
	width:100%;
	margin-top:10px;
}

.row_3_text{
	margin-top:10px;
	float:left;
	line-height:26px;
	font-size:14px;
	width:100%;
}

.row_3_pic2{
	float:left;
	margin-top:10px;
	margin-left:40px;
}

.row_3_float{
	position:absolute;
	top:410px;
	left:10px;
	z-index:100;
}

.row_3_love{
	position:absolute;
	z-index:100;
	top:790px;
	right:0;
}



.row_3_love img, .row_3_love div{
	float:right;
	height:22px;
	line-height:22px;
	margin-right:10px;
}

.article_content_foot{
	float:left;
	width:100%;
}

.foot_row_1{
	float:left;
	font-size:16px;
	font-weight:bold;
	width:100%;
	margin-top:10px;
}

.foot_row_2{
	float:left;
	margin-top:5px;
}

.column_1, .column_2{
	float:left;
	width:287px;
	line-height:26px;
}

.comments_area{
	float:left;
	width:574px;
	background:#fff;
	border-radius:3px;
	box-shadow: 1.5px 1.5px 1.5px;
	-webkit-box-shadow:1.5px 1.5px 1.5px;
	-moz-box-shadow: 1.5px 1.5px 1.5px;
	padding:10px;
}

.comments_title{
	float:left;
	height:22px;
	line-height:22px;
}

.comments_title img{
	float:left;
}

.comments_title div{
	float:left;
	margin-left:10px;
	font-weight:bold;
}

.one_comment{
	float:left;
	width:100%;
	margin-top:10px;
}

.one_comment .name{
	float:left;
	height:16px;
	width:40px;
	font-weight:bold;
}

.one_comment .colon{
	float:left;
	height:16px;
	width:10px;
}

.one_comment .comment_content{
	float:left;
	width:400px;
	margin-left:10px;
}

.one_comment .good_img, .one_comment .bad_img{
	float:left;
	height:16px;
	width:16px;
	margin-left:10px;
}

.one_comment .good_count, .one_comment .bad_count{
	float:left;
	height:16px;
	width:30px;
	text-align:center;
}

.solid_separate{
	float:left;
	width:570px;
	border-bottom:1px solid #cccccc;
	margin-top:10px;
}

.see_all{
	height:18px;
	float:left;
	line-height:18px;
	width:100%;
	margin-top:10px;
}

.see_all img{
	float:left;
}

.see_all div{
	float:left;
}

._blanklist{
	height:18px;
	float:left;
	line-height:18px;
	width:100%;
	margin-top:10px;
}
._blanklist img{
	float:left;
}

._blanklist div{
	float:left;
}

.publish{
	float:left;
	width:100%;
	margin-top:10px;
	margin-left:5px;
	margin-bottom:10px;
	font-weight:bold;
}

.input_row_1{
	float:left;
	width:100%;
	margin-top:10px;
}

.nickname{
	float:left;
	width:40px;
	line-height:22px;
	margin-left:5px;
}

.nickname_input{
	float:left;
	width:180px;
}

.email{
	float:left;
	width:40px;
	line-height:22px;
	margin-left:10px;
}

.emailname_input{
	float:left;
	width:200px;
}

.input_row_2{
	float:left;
	width:554px;
	padding:5px;
	margin-top:10px;
}

.comment_input{
	float:left;
	width:100%;
	height:70px;
}

.confirm_comment{
	float:right;
	margin-right:10px;
}

/* for the research.html */
.search_info{
	float:left;
	width:574px;
	background:#fff;
	border-radius:3px;
	box-shadow: 1.5px 1.5px 1.5px;
	-webkit-box-shadow:1.5px 1.5px 1.5px;
	-moz-box-shadow: 1.5px 1.5px 1.5px;
	padding:10px;
	font-size:15px
}

.search_head{
	float:left;
	width:100%;
}

.search_head img{
	float:left;
	height:20px;
	line-height:20px;
}

.search_head div{
	float:left;
	margin-left:10px;
	font-weight:bold;
}

.single_choose{
	float:left;
	width:100%;
	font-size:15px;
}

.choose_topic{
	font-weight:bold;
	line-height:20px;
}

.single_choose_item{
	float:left;
	width:564px;
	margin-left:10px;
	line-height:20px;
	margin-top:10px;
}

.single_choose_item input, .single_choose_item div{
	float:left;
}

.single_choose_item div{
	margin-left:10px;
}

.mutiple_choose{
	float:left;
	width:100%;
	font-size:15px;
}

.mutiple_choose_item{
	width:110px;
	float:left;
}

.up_part{
	float:left;
	width:100%;
}

.up_part input{
	float:left;
	line-height:16px;
}

.up_part div{
	float:left;
	margin-left:5px;
}

.mutiple_choose_item img{
	margin-top:5px;
	margin-left:4px;
	width:106px;
}

.suggestion{
	float:left;
	width:100%;
}

.suggenstion_div{
	float:left;
	width:554px;
	padding:5px;
	margin-top:10px;
}

.suggestion_input{
	float:left;
	width:100%;
	height:70px;
}

.commit{
	float:left;
	line-height:30px;
	height:30px;
}

.commit img, .commit div{
	float:left;
}

.commit img{
	margin-left:5px;
}

.commit div{
	margin-left:20px;
}

.search_result{
	float:left;
	font-size:14px;
}

.search_result_1, .search_result_2, .search_result_3{
	float:left;
	width:100%;
}

.result_comment_area{
	float:left;
	width:100%;
	marign-top:20px;
}

.result_comment_head{
	float:left;
	margin-left:5px;
	font-size:15px;
	font-weight:bold;
}

.search_result_item{
	float:left;
	width:100%;
	line-height:25px;
	margin-top:5px;
}

.search_result_1_name{
	float:left;
	width:60px;
	margin-left:10px;
}

.color_bar{
	height:15px;
	width:240px;
	float:left;
	background:#88DDEE;
	margin-top:5px;
	margin-left:10px;
}

.percents{
	float:left;
	margin-left:10px;
}

.search_result_2_name{
	float:left;
	width:130px;
	margin-left:10px;
}

.search_result_3_name{
	float:left;
	width:60px;
	margin-left:10px;
}

.detail_comment_content{
	margin-top: 20px;
	margin-bottom: 20px;
	min-height: 300px;
	background: #fff;
	width: 574px;
	border-radius:3px;
	box-shadow: 1.5px 1.5px 1.5px;
	-webkit-box-shadow:1.5px 1.5px 1.5px;
	-moz-box-shadow: 1.5px 1.5px 1.5px;
	padding:10px;
}