<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<title>LC | 恋猫, 女性恋爱百科</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="shortcut icon" href="${staticPath}images/favicon.ico"/>  
		<link rel="stylesheet" type="text/css" href="${staticPath}css/reset.css" />
		<link rel="stylesheet" type="text/css" href="${staticPath}css/head.css" />
		<link rel="stylesheet" type="text/css" href="${staticPath}css/pintuer.css" />
		<link rel="stylesheet" type="text/css" href="${staticPath}css/float.css" />
		<link rel="stylesheet" type="text/css" href="${staticPath}css/home_main.css" />
		<link rel="stylesheet" type="text/css" href="${staticPath}css/navigation.css" />
		<script src="${staticPath}js/jquery.js"></script>
		<script src="${staticPath}js/lclove-util.js"></script>
	</head>
	
	<body>
		<!-- 固定头部导航 -->
		<div id="myHeader"></div>
		<!-- 固定头部导航 -->
		
		<!-- 文章列表 -->
		<div class="wrap_content clear">
		
			<!-- 列表 LEFT: 内容列表 -->
			<div class="content_left">
				<!-- 列表 LEFT: BANNER -->
				<div class="special_topic">
					<div class="special_topic_head"><img src="${staticPath}images/topic_flower.png" /><div>Special恋の喵言喵语</div></div>
					<div class="special_topic_desc_pic"><img width='594' height='156' class='radius-small' src="${staticPath}images/special_banner.png" /></div>
				</div>
				<div class="small_blank"></div>
				
				<!-- 列表 LEFT: DATALIST -->
				<div class="content_list"></div>
			
			</div>
			
			<!-- 列表 RIGHT: 通用搜索 /微电影图文推荐-->
			<div class="content_right">
				<div class="content_right_div">
					<!-- 通用搜索 -->
					<div class="search_area"></div>
					
					<div class="small_blank"></div>
					
					<!-- 微电影图文推荐-->
					<div class="recommend_show"></div>
					
					<!-- TOP 6-->
					<div class="hot_article"></div>
				</div>
			</div>
			
		</div>
		<!-- 文章列表-->
		<script>
		$(function(){
			lclove.params.keyword = '$!params.keyword';
			lclove.params.navtype = '1';
			lclove.params.pageNo = '$!params.pageNo';
			lclove.params.position = '3';
			
			//固定头部导航
			$("#myHeader").topMenu();
			
			//通用搜索
			$(".search_area").searchByType();
			
			<!-- 微电影图文推荐-->
			$(".recommend_show").recommandShow();
			
			<!-- TOP 6-->
			$(".hot_article").topShow();
			
			//文章列表
			$(".content_list").contentList();
			
			//固定页尾
			$("body").footerModule();
			
			//返回顶部
			$.backToTop();
		});
		</script>
		<script src="${staticPath}js/pintuer.js"></script>
	</body>
</html>