.float_pic1, .float_pic2, .float_pic3, .float_pic4, .float_pic5, .float_pic6, .float_pic7, .float_pic8, .float_pic9, .float_pic10, .float_pic11{
	position:absolute;
	z-index:100;
}

.float_pic6{
	top:948px;
	left:0;
}

.float_pic7{
	top:994px;
	right:0;
}

.float_pic1{
	top:85px;
	left:-20px;
}

.float_pic2{
	top:30px;
	right:390px;
}

.float_pic3{
	top:15px;
	left:110px;
}

.float_pic4{
	top:-20px;
	right:270px;
}

.float_pic5{
	top:25px;
	right:220px;
}

.float_pic8{
	left:-238px;
	top:-450px;
	z-index:-1000;
}

.float_pic9{
	right:-238px;
	z-index:-1000;
}

.float_pic10{
	left:-224px;
	top:-60px;
	z-index:-1000;
}

.float_pic11{
	right:-224px;
	top:-230px;
	z-index:-1000;
}